{% comment %}
  JavaScript used in lesson and workshop pages.
{% endcomment %}
<script src="{{ relative_root_path }}/assets/js/jquery.min.js"></script>
<script src="{{ relative_root_path }}/assets/js/bootstrap.min.js"></script>
<script src="{{ relative_root_path }}/assets/js/ics.min.js"></script>
<script src="{{ relative_root_path }}/assets/js/lesson.js"></script>

<script>
/* Based on https://stackoverflow.com/a/30894829/1802726 */
var show_instructions = function() {
     //set all nav tabs to inactive
    $('.nav-tabs li').removeClass('active');

    //get all nav tabs matching the os and set to active
    $('.nav-tabs li a[href*="'+localStorage.os+'"]').closest('li').addClass('active');

    //set all tabs to inactive
    $('.tab-pane').removeClass('active');

    //get all tabs matching the os and set to active
    $('.tab-pane[id*="'+localStorage.os+'"]').addClass('active');
}

if (typeof(Storage) !== "undefined") {
    if (localStorage.os == "undefined") {
        localStorage.os = "windows";
    }
    show_instructions();
} else {
    console.log("No localStorage");
}

/* Based on https://stackoverflow.com/a/30894829/1802726 */
$('.nav-tabs li a').click(function(){
    //get selected os
    localStorage.os = $(this)[0].dataset.os;
    show_instructions();
});

  // detect misssing iframe for Eventbrite
  $(document).ready(function(){
      if ($('iframe').height() == 0) {
          $('iframe').before('<p>Looks like your adblocker blocked the registration window. Please navigate to <a href="https://www.eventbrite.com/tickets-external?eid={{page.eventbrite}}&ref=etckt">https://www.eventbrite.com/tickets-external?eid={{page.eventbrite}}&ref=etckt</a> to register.</p>');
      }
  });

  // hide alerts when site is rendered on carpentries.github.io
  $(document).ready(function() {
      if (location.href.startsWith("https://carpentries.github.io/workshop-template/")) {
          $("div.alert").hide();
      }
  });


  // Calendar elements based on start and end dates and times
  // Still need to code a way for this to degrade gracefully in case start and end times are not provided, or incorrectly provided!
  cal_nrdays = "{{ page.enddate }}".split("-").pop() - "{{ page.startdate }}".split("-").pop() + 1; 
  cal_subject = "{% if site.carpentry == "swc" %}Software{% elsif site.carpentry == "lc" %}Library{% elsif site.carpentry == "dc" %}Data{% endif %} Carpentry Workshop {{ page.humantime }}";
  cal_details = "{% if site.carpentry == "swc" %}Software{% elsif site.carpentry == "lc" %}Library{% elsif site.carpentry == "dc" %}Data{% endif %} Carpentry Workshop at {{ page.venue }}. More details at {{ site.url }}{{ page.url }}";
  
  // Generate Google Calendar link
  gcal_link = "//calendar.google.com/calendar/render?action=TEMPLATE&text=" + cal_subject + 
  "&dates={{ page.startdate | replace: "-", "" }}T{{ page.starttime | replace: ":", "" }}/{{ page.startdate | replace: "-", "" }}T{{ page.endtime | replace: ":", "" }}"+
  "&recur=RRULE:FREQ=DAILY;COUNT=" + cal_nrdays +
  "&trp=false&sprop&sprop=name:&sf=true&output=xml&location={{ page.address }}&details=" + cal_details;
  document.getElementById('gcalLink').setAttribute("href",encodeURI(gcal_link));
  
  // Generate iCal file for adding workshop to Outlook or Apple Calendar
  ical_event = ics();
  ical_startarray = "{{ page.startdate }}".split("-");
  
  for (i=0; i < cal_nrdays; i++) {
	  ical_event.addEvent(cal_subject, cal_details, "{{ page.address }}", ical_startarray.join("-")+"T{{ page.starttime }}", ical_startarray.join("-")+"T{{ page.endtime }}");
	  ical_startarray[2] = parseInt(ical_startarray[2])+1;
  }

</script>
